@media screen and (max-width:550px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 200px;
    height: 50px;
  }
}

@media screen and (max-width:800px) {
  .descricao {
    width: 60%;
  }
}